<div class="hero">

    <div class="overlay">

        <h1>CafeQR</h1>

        <p>Scan • Order • Pay</p>

        <button
            class="btn btn-warning mb-4"
            routerLink="/menu/1">

            Start Ordering

        </button>

        <div class="qr-section">

            <h5>Scan QR to Order</h5>

           <img
              src="assets/QR/Table2QR.png" width="200" height="200"
              alt="Table 2 QR"
              class="qr-image">

            <p class="mt-2">
                Table 2
            </p>

        </div>

    </div>

</div>
