.container {
    max-width: 900px;
}

.order-card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 12px rgba(0,0,0,.12);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    background: orange;
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
}

.price {
    float: right;
}

button {
    width: 100%;
    margin-top: 15px;
}