<div class="container">

    <div class="order-card" *ngFor="let order of orders; let i = index">

        <!-- Highest Priority -->
        <div
            class="priority"
            *ngIf="i === 0 && order.status === 'Pending'">

            🔥 Highest Priority Order

        </div>

        <!-- Header -->
        <div class="top">

            <div>

                <div class="table-name">
                    Table {{ order.tableId }}
                </div>

                <div class="order-id">
                  Order #{{ order.id }}
              </div>

                <div class="order-time">
                    {{ order.createdAt | date:'dd/MM/yyyy hh:mm a' }}
                </div>

            </div>

            <span
                class="status"
                [ngClass]="{
                    'pending': order.status=='Pending',
                    'accepted': order.status=='Accepted',
                    'preparing': order.status=='Preparing',
                    'ready': order.status=='Ready',
                    'completed': order.status=='Completed',
                    'cancelled': order.status=='Cancelled'
                }">

                {{ order.status }}

            </span>

        </div>

        <hr>

        <!-- Items -->

        <div
            class="order-item"
            *ngFor="let item of order.items">

            <div class="item-info">

                <h5>{{ item.name }}</h5>

                <p>Qty : {{ item.quantity }}</p>

            </div>

            <div class="price">

                ₹{{ item.price * item.quantity }}

            </div>

        </div>

        <hr>

        <!-- Total -->

        <div class="total">

            <span>Total</span>

            <span>₹{{ order.total }}</span>

        </div>

        <!-- Buttons -->

        <div
            class="action-buttons"
            *ngIf="order.status=='Pending'">

            <button
                class="btn btn-success"
                (click)="acceptOrder(order)">

                Accept Order

            </button>

            <button
                class="btn btn-danger"
                (click)="cancelOrder(order)">

                Cancel Order

            </button>

        </div>

        <button
            class="btn btn-primary"
            *ngIf="order.status=='Accepted'"
            (click)="updateStatus(order)">

            Start Preparing

        </button>

        <button
            class="btn btn-warning"
            *ngIf="order.status=='Preparing'"
            (click)="updateStatus(order)">

            Mark Ready

        </button>

        <button
            class="btn btn-success"
            *ngIf="order.status=='Ready'"
            (click)="updateStatus(order)">

            Complete Order

        </button>

    </div>

</div>
